.errorMessage {
    color: red;
    margin-top: 5px;
}

.google-modern-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 12px;
    border-radius: 999px;
    border: none;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }
  
  .google-modern-btn:hover {
    background-color: #f5f5f5;
  }
  
  .google-modern-btn img {
    width: 20px;
  }
  